.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 10px;
  margin: 0 auto; /* Center the container horizontally */
}

.textarea {
  resize: none;
  border: 2px solid #ccc;
  padding: 10px;
  font-size: 16px;
  width: 75%;
  max-width: 800px;
}

.submit-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.submit-button:hover {
  background-color: #0056b3;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
  /* Optionally remove max-width to allow container to expand */
  /* max-width: 800px; */
  justify-content: center; /* Center the grid items horizontally */
}

@media screen and (max-width: 1700px) {
  /* Adjust layout for smaller screens (e.g., mobile devices) */
  .grid-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 900px) {
  /* Adjust layout for smaller screens (e.g., mobile devices) */
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {
  /* Adjust layout for smaller screens (e.g., mobile devices) */
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 400px) {
  /* Adjust layout for smaller screens (e.g., mobile devices) */
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid-item {
  border: 2px solid #ccc;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  /* Remove fixed width to allow flexible sizing */
  /* width: 200px; */
}

.key {
  font-weight: bold;
}

.value-decimal {
  margin-top: 5px;
  font-size: 14px;
  color: #777;
}

.value-fraction {
  margin-top: 5px;
  font-size: 16px;
}

.note {
  margin-top: 10px;
  font-size: 14px;
  color: #888;
}

.warning {
  font-size: 14px;
  color: red;
}
